* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #111;
  transition: all 0.2s ease-in-out;
  padding: 4px 15px;
}

.nav-links li a:hover {
  color: #007bff;
  border: 2px solid #007bff;
}

.nav-links li a:visited {
  color: purple;
}

.service:focus {
  background-color: yellow;
  color: black;
}

section {
  margin: 30px auto;
  width: 90vw;
}

section h2::before {
  content: "This is ";
}

section h2::after {
  content: " Pseudo Element";
}

p::first-line {
  font-size: 1.2rem;
  color: red;
}

p::selection {
  background: purple;
}

button {
  transition: all 0.4s ease-in-out;
}

button:active {
  transform: scale(1.5);
}

input[type="email"]:focus {
  border: 2px solid green;
  background-color: black;
  color: white;
}
